@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

.navbar {
    width: 95%;
    margin: 20px 0 20px 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffff;
    position: static;
}

.logo {
    width: 300px;
    padding: 3%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ff1e00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.contain{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/fondo1.jpg);
    background-size: cover;
    background-position: center;
    filter: contrast(120%);

}
    
.titulos {
    text-align:end;
    align-items: center;
    font-size: x-large;
    color: #ffff;
    background-color:#0d47a1 ;
    padding: 0 100px 0 0;
}
img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0%;
}

.contenedorFlex {
    width: 90%;
    margin: 120px auto;
}

.rows {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    
}

.card {
    text-align: center;
    width: 20%;
    transition: 0.3s;
    border-radius: 8px;
    
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.card-text {
    color: black;
}

footer {
    background-color: #0d47a1;
    color: blanchedalmond;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.fab2 {
    color: blanchedalmond;
    text-decoration:none;
    text-align: center;
    
}

.fab2:hover {
    color:#fcf300;
    cursor: pointer;
}

.containColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 40px 0 40px 0;
}

/* label {
    padding: 6px;
    width: auto;    
} */

p {
    color: ivory;
    text-align: center;

}

i {
    margin: 5px 7px 0 0;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type="submit"] {
    background: linear-gradient(#ff1e00, #d11800);
    border: none;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    width: 200px;
}

input[type="submit"]:hover {
    opacity: 1;
}

.input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn2{
    background: cornsilk;
    border-radius: 10px;
    width: auto;
    height: 41px;
}

.login{
    width: 100%;
    height: auto;
}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0 0 0;
}

h1, h2, h3 {
    font-size: x-large;
}

.cajasForm {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.registro {
    margin: auto;
    width: 40%;
    max-width: 400px;
    padding: 30px;
    border: none;
    text-align: center;
    min-height: 350px;
}

input{
    display: grid;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    font-size: 15px;
    border: none;
    border-bottom:1px solid black;
    background: transparent;
    outline: none;

}

.boton{
    margin: auto;
    display: block;
}

li {
    margin: 10px 0;
}
.nick {
    text-decoration: none;
    color: #ff758f;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
}

.nick:hover{
    color: #ffb4a2;
}

.cuerpo {
    color: black;
    margin: 100px 30px;
}

.modelos {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 3px;
}

.modelos .galeria{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

}

.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 118, 192, 0.781);
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: hidden;
}

.overlay h2 {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.galeria:hover .overlay{
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .modelos{
        width: 95%
    }
}

@media screen and (max-width: 700px) {
    .modelos{
        width: 80%
    }

    .modelos .galeria{
        width: 45%; 
        margin: 5px;
            }
}

@media screen and (max-width: 480px) {
    .titulos{
        font-size: 90%;
    }

    .card{
       margin: 10px;
    }

    .contenedorFlex{
        margin: 60px auto;
    }
    .modelos{
        width: 98%;
        justify-content: center;
    }

    .modelos .galeria{
        width: 90%; 
    }

    .containColumn{
        flex-direction: column;
        padding: 20px 0 20px 0;
    }

    .redesSociales{
        text-align: center;
        font-size: 15px;
        margin: 0 0 10px 0;
    }

    .input-group{
        width: 70%;
    }
   
    p{
        font-size: 60%;
    }

    .contain{
        width: 100%;
        height: 40vh;
        background-image: url(./assets/fondo1.jpg);
        background-size: cover;
        background-position: center;
        filter: contrast(120%);
}
    .contacto {
        font-size: 15px;
        margin: 10px 0 20px 0;
    }

    .logo{
        width: 200px;
    }  

    a{
        font-size: 15px;
    }





